<aside [ngClass]="{ 'translate-x-0': isSidebarOpen, '-translate-x-full': !isSidebarOpen }" class="fixed top-16 left-0 z-40 h-[calc(100vh-4rem)] w-64 transition-transform lg:translate-x-0">
  <div class="h-full bg-white border-r border-gray-200">
    <div class="flex flex-col h-full">
      <div class="flex-1 px-3 py-4 space-y-1">
        <ng-container *ngFor="let item of getFilteredMenuItems()">
          <a [routerLink]="[item.path]" class="flex items-center gap-3 px-4 py-3 text-gray-700 rounded-lg hover:bg-gray-100 group">
            <span [innerHTML]="sanitizeSvg(item.icon)" class="w-5 h-5 text-gray-500 group-hover:text-green-600"></span>
            <span class="font-medium group-hover:text-green-600">{{ item.label }}</span>
          </a>
        </ng-container>
      </div>

      <!-- User info at bottom -->
      <div class="p-4 border-t border-gray-200">
        <ng-container *ngIf="currentUser$ | async as user">
          <div class="flex items-center gap-3">
            <img src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="User Picture" class="w-10 h-10 rounded-full">
            <div>
              <p class="text-sm font-medium text-gray-900">{{ user.firstName }} {{ user.lastName }}</p>
              <p class="text-xs text-gray-500">{{ user.email }}</p>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</aside>
